In [282]:
import pandas as pd
import numpy as np
file_path = r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-ml\data\immovlan_cleaned_file.csv"
df = pd.read_csv(file_path, encoding='utf-8')

In [283]:
df.shape

(16309, 33)

In [284]:
df.head(20)

,url,Property ID,Price,State of the property,Availability,Number of bedrooms,Livable surface,Furnished,Attic,Garage,...,Surface terrace,Total land surface,Swimming pool,type,postal_code,city,Region,province,price_per_sqm,Price_per_sqm_land
0,https://immovlan.be/en/detail/studio/for-sale/...,vbd20021,175000.0,New,On contract,0.0,51.0,NaN,NaN,NaN,...,NaN,NaN,NaN,studio,4000,liege,Wallonia,Liege,3431.372549,NaN
1,https://immovlan.be/en/detail/apartment/for-sa...,vbd30235,415000.0,New,On contract,1.0,70.0,0.0,NaN,1.0,...,20.0,NaN,1.0,apartment,1410,waterloo,Wallonia,Walloon Brabant,5928.571429,NaN
2,https://immovlan.be/en/detail/residence/for-sa...,vbd46297,399000.0,NaN,NaN,2.0,129.0,NaN,NaN,1.0,...,NaN,NaN,NaN,residence,1501,buizingen,Flanders,Flemish Brabant,3093.023256,NaN
3,https://immovlan.be/en/detail/apartment/for-sa...,vbd36813,229000.0,New,NaN,2.0,82.0,NaN,NaN,NaN,...,8.0,NaN,NaN,apartment,7000,mons,Wallonia,Hainaut,2792.682927,NaN
4,https://immovlan.be/en/detail/apartment/for-sa...,vbb60643,320000.0,New,NaN,3.0,106.0,NaN,NaN,NaN,...,6.0,NaN,NaN,apartment,7000,mons,Wallonia,Hainaut,3018.867925,NaN
5,https://immovlan.be/en/detail/apartment/for-sa...,vbd46661,185000.0,Excellent,NaN,1.0,56.0,0.0,NaN,NaN,...,7.0,NaN,NaN,apartment,1400,nivelles,Wallonia,Walloon Brabant,3303.571429,NaN
6,https://immovlan.be/en/detail/residence/for-sa...,vbd11776,190000.0,NaN,NaN,5.0,142.0,0.0,1.0,1.0,...,NaN,320.0,NaN,residence,6830,bouillon,Wallonia,Luxembourg,1338.028169,593.750000
7,https://immovlan.be/en/detail/apartment/for-sa...,vbd48568,NaN,New,NaN,4.0,167.0,0.0,NaN,NaN,...,NaN,NaN,NaN,apartment,1300,wavre,Wallonia,Walloon Brabant,NaN,NaN
8,https://immovlan.be/en/detail/apartment/for-sa...,vbd36992,329000.0,New,NaN,3.0,113.0,NaN,NaN,NaN,...,9.0,NaN,NaN,apartment,1480,tubize,Wallonia,Walloon Brabant,2911.504425,NaN
9,https://immovlan.be/en/detail/residence/for-sa...,rbu64988,327850.0,To be renovated,On contract,3.0,185.0,0.0,1.0,1.0,...,21.0,683.0,0.0,residence,9810,nazareth,Flanders,East Flanders,1772.162162,480.014641
10,https://immovlan.be/en/detail/investment-prope...,rbu62634,1475000.0,New,On contract,12.0,NaN,NaN,NaN,1.0,...,NaN,624.0,NaN,investment-property,8560,wevelgem,Flanders,West Flanders,NaN,2363.782051
11,https://immovlan.be/en/detail/apartment/for-sa...,vbd46746,679000.0,New,On contract,3.0,150.0,NaN,NaN,NaN,...,6.0,NaN,0.0,apartment,1170,watermaal-bosvoorde,Brussels,Brussels,4526.666667,NaN
12,https://immovlan.be/en/detail/apartment/for-sa...,rbt86438,224250.0,New,NaN,1.0,71.0,NaN,0.0,1.0,...,NaN,NaN,0.0,apartment,8900,ieper,Flanders,West Flanders,3158.450704,NaN
13,https://immovlan.be/en/detail/apartment/for-sa...,vbd34109,229900.0,Excellent,Immediately,2.0,77.0,0.0,NaN,1.0,...,NaN,NaN,0.0,apartment,6790,aubange,Wallonia,Luxembourg,2985.714286,NaN
14,https://immovlan.be/en/detail/residence/for-sa...,vbc54869,365000.0,New,NaN,3.0,203.0,0.0,1.0,1.0,...,NaN,298.0,NaN,residence,5001,belgrade,Wallonia,Namur,1798.029557,1224.832215
15,https://immovlan.be/en/detail/apartment/for-sa...,vbc71246,NaN,New,NaN,1.0,69.0,0.0,NaN,NaN,...,6.0,NaN,0.0,apartment,5000,namur,Wallonia,Namur,NaN,NaN
16,https://immovlan.be/en/detail/apartment/for-sa...,rbu46377,537720.0,New,On contract,3.0,170.0,0.0,NaN,1.0,...,21.0,NaN,NaN,apartment,1982,elewijt,Flanders,Flemish Brabant,3163.058824,NaN
17,https://immovlan.be/en/detail/apartment/for-sa...,rbu41545,199000.0,Excellent,On contract,1.0,83.0,NaN,NaN,NaN,...,11.0,NaN,NaN,apartment,9600,ronse,Flanders,East Flanders,2397.590361,NaN
18,https://immovlan.be/en/detail/residence/for-sa...,rbu61502,460000.0,NaN,NaN,4.0,178.0,NaN,NaN,NaN,...,NaN,NaN,NaN,residence,9420,erpe-mere,Flanders,East Flanders,2584.269663,NaN
19,https://immovlan.be/en/detail/residence/for-sa...,vbd11793,145000.0,To be renovated,Immediately,3.0,270.0,0.0,1.0,NaN,...,NaN,NaN,NaN,residence,6830,bouillon,Wallonia,Luxembourg,537.037037,NaN

In [285]:
df.shape

(16309, 33)

## Check duplicates rows and unique value IDs

In [286]:
# check 1: Duplicate rows 
duplicate_rows = df.duplicated().sum()
print(f"\n1. Exact duplicate rows: {duplicate_rows}")

# check 2: Duplicate property IDs
if 'Property ID' in df.columns:
    duplicate_ids = df['Property ID'].duplicated().sum()
    print(f"2. Duplicate Property IDs: {duplicate_ids}")

duplicate_remove = df.drop_duplicates()
print(duplicate_remove.shape)

1. Exact duplicate rows: 0
2. Duplicate Property IDs: 0
(16309, 33)

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16309 entries, 0 to 16308
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    16309 non-null  object
 1   Property ID            16309 non-null  object
 2   Price                  15725 non-null  float64
 3   State of the property  11846 non-null  object
 4   Availability           7001 non-null   object
 5   Number of bedrooms     14083 non-null  float64
 6   Livable surface        13294 non-null  float64
 7   Furnished              8383 non-null   float64
 8   Attic                  3661 non-null   float64
 9   Garage                 7044 non-null   float64
 10  Number of garages      3799 non-null   float64
 11  Kitchen equipment      4380 non-null   object
 12  Kitchen type           2181 non-null   object
 13  Number of bathrooms    12042 non-null  float64
 14  Number of showers      3538 non-null   float64
 15  Number of toilets      10014 non-null  float64
 16  Type of heating        9343 non-null   object
 17  Type of glazing        7077 non-null   object
 18  Elevator               10823 non-null  float64
 19  Number of facades      9817 non-null   float64
 20  Garden                 12786 non-null  float64
 21  Surface garden         2731 non-null   float64
 22  Terrace                13588 non-null  float64
 23  Surface terrace        7448 non-null   float64
 24  Total land surface     6990 non-null   float64
 25  Swimming pool          3920 non-null   float64
 26  type                   16309 non-null  object
 27  postal_code            16309 non-null  int64
 28  city                   16309 non-null  object
 29  Region                 16309 non-null  object
 30  province               16309 non-null  object
 31  price_per_sqm          12762 non-null  float64
 32  Price_per_sqm_land     6846 non-null   float64
dtypes: float64(20), int64(1), object(12)
memory usage: 4.1+ MB

In [288]:
df.describe()

,Price,Number of bedrooms,Livable surface,Furnished,Attic,Garage,Number of garages,Number of bathrooms,Number of showers,Number of toilets,...,Number of facades,Garden,Surface garden,Terrace,Surface terrace,Total land surface,Swimming pool,postal_code,price_per_sqm,Price_per_sqm_land
count,1.572500e+04,14083.000000,13294.000000,8383.000000,3661.000000,7044.0,3799.000000,12042.000000,3538.000000,10014.000000,...,9817.000000,12786.000000,2731.000000,13588.000000,7448.000000,6990.000000,3920.000000,16309.000000,12762.000000,6846.000000
mean,3.773196e+05,2.711425,174.536558,0.026482,0.878449,1.0,3.100816,1.348613,1.743358,1.699221,...,2.844453,0.586892,889.402417,0.849500,24.384264,1424.949356,0.084694,4632.011834,3507.402525,1118.877212
std,3.298409e+05,1.528809,3654.193163,0.160574,0.326812,0.0,46.223951,0.962744,12.549083,1.204956,...,0.841291,0.492411,5488.540179,0.357574,108.607371,7174.879643,0.278461,2670.017829,13010.652230,2392.142557
min,1.000000e+00,0.000000,1.000000,0.000000,0.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1000.000000,0.008065,0.060000
25%,2.350000e+05,2.000000,89.000000,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,2.000000,0.000000,77.000000,1.000000,9.000000,262.000000,0.000000,2100.000000,2147.058824,275.477757
50%,3.190000e+05,3.000000,116.000000,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,3.000000,1.000000,225.000000,1.000000,15.000000,557.000000,0.000000,4280.000000,2934.363781,635.496214
75%,4.320000e+05,3.000000,169.000000,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,2.000000,...,4.000000,1.000000,615.500000,1.000000,25.000000,1156.750000,0.000000,6820.000000,3594.929640,1319.790373
max,1.382760e+07,50.000000,421300.000000,1.000000,1.000000,1.0,2024.000000,50.000000,482.000000,50.000000,...,4.000000,1.000000,200000.000000,1.000000,5331.000000,500000.000000,1.000000,9991.000000,386050.000000,77800.000000

In [289]:
df.isna().sum()

url                          0
Property ID                  0
Price                      584
State of the property     4463
Availability              9308
Number of bedrooms        2226
Livable surface           3015
Furnished                 7926
Attic                    12648
Garage                    9265
Number of garages        12510
Kitchen equipment        11929
Kitchen type             14128
Number of bathrooms       4267
Number of showers        12771
Number of toilets         6295
Type of heating           6966
Type of glazing           9232
Elevator                  5486
Number of facades         6492
Garden                    3523
Surface garden           13578
Terrace                   2721
Surface terrace           8861
Total land surface        9319
Swimming pool            12389
type                         0
postal_code                  0
city                         0
Region                       0
province                     0
price_per_sqm             3547
Price_per_sqm_land        9463
dtype: int64

## Check for whitespace - 

lambda x: isinstance(x, str) and x != x.strip() <br>
For each cell x in the DataFrame: <br>
isinstance(x, str) → checks if the cell contains a string. <br>
x.strip() → removes leading/trailing whitespace. <br>
x != x.strip() → will be True if trimming changes the value (i.e., whitespace existed). <br>

In [290]:
has_whitespace = df.map(lambda x: isinstance(x, str) and x != x.strip()).any().any()
print("Contains whitespace?", has_whitespace)

Contains whitespace? False

## Check Data Types

In [291]:

df.info(show_counts=True, memory_usage=True, verbose=True)
df_obj = df.select_dtypes(include=['object'])
print(df_obj.columns.tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16309 entries, 0 to 16308
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    16309 non-null  object
 1   Property ID            16309 non-null  object
 2   Price                  15725 non-null  float64
 3   State of the property  11846 non-null  object
 4   Availability           7001 non-null   object
 5   Number of bedrooms     14083 non-null  float64
 6   Livable surface        13294 non-null  float64
 7   Furnished              8383 non-null   float64
 8   Attic                  3661 non-null   float64
 9   Garage                 7044 non-null   float64
 10  Number of garages      3799 non-null   float64
 11  Kitchen equipment      4380 non-null   object
 12  Kitchen type           2181 non-null   object
 13  Number of bathrooms    12042 non-null  float64
 14  Number of showers      3538 non-null   float64
 15  Number of toilets      10014 non-null  float64
 16  Type of heating        9343 non-null   object
 17  Type of glazing        7077 non-null   object
 18  Elevator               10823 non-null  float64
 19  Number of facades      9817 non-null   float64
 20  Garden                 12786 non-null  float64
 21  Surface garden         2731 non-null   float64
 22  Terrace                13588 non-null  float64
 23  Surface terrace        7448 non-null   float64
 24  Total land surface     6990 non-null   float64
 25  Swimming pool          3920 non-null   float64
 26  type                   16309 non-null  object
 27  postal_code            16309 non-null  int64
 28  city                   16309 non-null  object
 29  Region                 16309 non-null  object
 30  province               16309 non-null  object
 31  price_per_sqm          12762 non-null  float64
 32  Price_per_sqm_land     6846 non-null   float64
dtypes: float64(20), int64(1), object(12)
memory usage: 4.1+ MB
['url', 'Property ID', 'State of the property', 'Availability', 'Kitchen equipment', 'Kitchen type', 'Type of heating', 'Type of glazing', 'type', 'city', 'Region', 'province']

## Checking for missing values

In [292]:

missing_count = df.isnull().sum()
display(missing_count)

url                          0
Property ID                  0
Price                      584
State of the property     4463
Availability              9308
Number of bedrooms        2226
Livable surface           3015
Furnished                 7926
Attic                    12648
Garage                    9265
Number of garages        12510
Kitchen equipment        11929
Kitchen type             14128
Number of bathrooms       4267
Number of showers        12771
Number of toilets         6295
Type of heating           6966
Type of glazing           9232
Elevator                  5486
Number of facades         6492
Garden                    3523
Surface garden           13578
Terrace                   2721
Surface terrace           8861
Total land surface        9319
Swimming pool            12389
type                         0
postal_code                  0
city                         0
Region                       0
province                     0
price_per_sqm             3547
Price_per_sqm_land        9463
dtype: int64

In [293]:
df.head()

,url,Property ID,Price,State of the property,Availability,Number of bedrooms,Livable surface,Furnished,Attic,Garage,...,Surface terrace,Total land surface,Swimming pool,type,postal_code,city,Region,province,price_per_sqm,Price_per_sqm_land
0,https://immovlan.be/en/detail/studio/for-sale/...,vbd20021,175000.0,New,On contract,0.0,51.0,NaN,NaN,NaN,...,NaN,NaN,NaN,studio,4000,liege,Wallonia,Liege,3431.372549,NaN
1,https://immovlan.be/en/detail/apartment/for-sa...,vbd30235,415000.0,New,On contract,1.0,70.0,0.0,NaN,1.0,...,20.0,NaN,1.0,apartment,1410,waterloo,Wallonia,Walloon Brabant,5928.571429,NaN
2,https://immovlan.be/en/detail/residence/for-sa...,vbd46297,399000.0,NaN,NaN,2.0,129.0,NaN,NaN,1.0,...,NaN,NaN,NaN,residence,1501,buizingen,Flanders,Flemish Brabant,3093.023256,NaN
3,https://immovlan.be/en/detail/apartment/for-sa...,vbd36813,229000.0,New,NaN,2.0,82.0,NaN,NaN,NaN,...,8.0,NaN,NaN,apartment,7000,mons,Wallonia,Hainaut,2792.682927,NaN
4,https://immovlan.be/en/detail/apartment/for-sa...,vbb60643,320000.0,New,NaN,3.0,106.0,NaN,NaN,NaN,...,6.0,NaN,NaN,apartment,7000,mons,Wallonia,Hainaut,3018.867925,NaN

## Regions 
A. Deterministic postcode -> region mapping

In [294]:
import pandas as pd

file_path = r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-ml\data\immovlan_cleaned_file_final.csv"

df = pd.read_csv(file_path, encoding="utf-8")

In [295]:
def postcode_to_region(pc):
    if pd.isna(pc):
        return "Unknown"
    pc = int(pc)

    # Brussels
    if 1000 <= pc <= 1299:
        return "Brussels"

    # Wallonia
    if 1300 <= pc <= 1499:
        return "Wallonia"
    if 4000 <= pc <= 7999:
        return "Wallonia"

    # Flanders
    if 1500 <= pc <= 3999:
        return "Flanders"
    if 8000 <= pc <= 9999:
        return "Flanders"

    return "Unknown"

df["Region"] = df["postal_code"].apply(postcode_to_region)

# Test 
print("Region distribution:")
print(df["Region"].value_counts(dropna=False))

df.to_csv(file_path, index=False, encoding="utf-8")

Region distribution:
Region
Wallonia    8142
Flanders    6724
Brussels    1443
Name: count, dtype: int64

B. Map postcode to province

In [296]:
import pandas as pd

file_path = r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-ml\data\immovlan_cleaned_file_final.csv"

df = pd.read_csv(file_path, encoding="utf-8")

In [297]:
provinces = {
    "brussels": list(range(1000, 1300)),
    "brabant_walloon": list(range(1300, 1500)),
    "brabant_flemish": list(range(1500, 2000)) + list(range(3000, 3500)),
    "antwerp": list(range(2000, 3000)),
    "limburg": list(range(3500, 4000)),
    "liege": list(range(4000, 4500)),
    "namur": list(range(4500, 5681)),
    "hainaut": list(range(5681, 6600)) + list(range(7000, 8000)),
    "luxembourg": list(range(6600, 7000)),
    "west_flanders": list(range(8000, 9000)),
    "east_flanders": list(range(9000, 10000))
}
def postcode_to_province(postcode):
    # Brussels
    if postcode in provinces["brussels"]:
        return "Brussels"
    # Walloon Brabant
    if postcode in provinces["brabant_walloon"]:
        return "Walloon Brabant"
    # Flemish Brabant
    if postcode in provinces["brabant_flemish"]:
        return "Flemish Brabant"
    # Antwerp
    if postcode in provinces["antwerp"]:
        return "Antwerp"
    # Limburg
    if postcode in provinces["limburg"]:
        return "Limburg"

    # Liege
    if postcode in provinces["liege"]:
        return "Liege"

    # Namur
    if postcode in provinces["namur"]:
        return "Namur"

    # Hainaut
    if postcode in provinces["hainaut"]:
        return "Hainaut"

    # Luxembourg
    if postcode in provinces["luxembourg"]:
        return "Luxembourg"

    # West Flanders
    if postcode in provinces["west_flanders"]:
        return "West Flanders"

    # East Flanders
    if postcode in provinces["east_flanders"]:
        return "East Flanders"

    return "Unknown"

df["province"] = df["postal_code"].apply(postcode_to_province)

print("Provinces distribution:")
print(df["province"].value_counts(dropna=False))

df.to_csv(file_path, index=False, encoding="utf-8")

Provinces distribution:
province
Namur              2447
Walloon Brabant    1625
Hainaut            1503
Limburg            1502
Brussels           1443
Antwerp            1408
Luxembourg         1387
West Flanders      1293
Flemish Brabant    1283
East Flanders      1238
Liege              1180
Name: count, dtype: int64

In [ ]:
df.info()

In [299]:
df.shape

(16309, 23)

In [300]:
import pandas as pd

file_path = r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-ml\data\immovlan_cleaned_file_final.csv"

df = pd.read_csv(file_path, encoding="utf-8")


df["price_per_sqm"] = df["Price"] / df["Livable surface"]
df['Price_per_sqm_land'] = df['Price'] / df['Total land surface']

df.to_csv(file_path, index=False, encoding="utf-8")

##Main type grouping

In [301]:
import pandas as pd

file_path = r"C:\Users\esram\OneDrive\Desktop\esrabecode\immo-eliza-ml\data\immovlan_cleaned_file_final.csv"
df = pd.read_csv(file_path, encoding="utf-8")

apartment_subtypes = ["apartment", "ground floor", "penthouse", "studio", "duplex", "loft", "triplex", "student flat"]
house_subtypes = ["Residence", "Villa", "Mixed Building", "Master House", "Cottage", "Bungalow", "Chalet", "Mansion"]
business_subtypes = ['commercial building', 'industrial building', 'office space', 'business surface', 'garage', 'parking']
investment_subtypes = ['investment property']
land_subtypes = ['land', 'development site', 'farming site', 'farmland', 'industrial ground', 'wood', 'green zone', 'recreational land', 'to parcel out site']

def normalize_string(s):
    return str(s).strip().lower().replace('-', ' ')

mapping = {normalize_string(x): "apartment" for x in apartment_subtypes}
mapping.update({normalize_string(x): "house" for x in house_subtypes})
mapping.update({normalize_string(x): "business" for x in business_subtypes})
mapping.update({normalize_string(x): "investment property" for x in investment_subtypes})
mapping.update({normalize_string(x): "land" for x in land_subtypes})

df['main_type'] = df['type'].apply(lambda t: mapping.get(normalize_string(t), t))


df.to_csv(file_path, index=False, encoding="utf-8")

unmapped = df[df['main_type'] == df['type']]['type'].unique()
print("not matched:", unmapped)
print(df[['type', 'main_type']].head(20))

not matched: ['apartment' 'land' 'undetermined-property' 'other']
                   type            main_type
0                studio            apartment
1             apartment            apartment
2             residence                house
3             apartment            apartment
4             apartment            apartment
5             apartment            apartment
6             residence                house
7             apartment            apartment
8             apartment            apartment
9             residence                house
10  investment-property  investment property
11            apartment            apartment
12            apartment            apartment
13            apartment            apartment
14            residence                house
15            apartment            apartment
16            apartment            apartment
17            apartment            apartment
18            residence                house
19            residence                house

In [302]:
ad_types = df[['main_type', 'type']]
ad_types.groupby(['main_type', 'type']).value_counts()

main_type              type
apartment              apartment                6598
                       duplex                    211
                       ground-floor              309
                       loft                       32
                       penthouse                 318
                       student-flat               22
                       studio                    217
                       triplex                    20
business               business-surface           45
                       commercial-building       439
                       garage                     99
                       industrial-building       172
                       office-space              123
                       parking                    79
house                  bungalow                   45
                       chalet                     68
                       cottage                    50
                       mansion                     6
                       master-house               62
                       mixed-building            196
                       residence                5211
                       villa                     450
investment property    investment-property       384
land                   development-site          394
                       farming-site               23
                       farmland                   29
                       green-zone                  3
                       industrial-ground           2
                       land                      642
                       recreational-land           1
                       to-parcel-out-site         17
                       wood                        4
other                  other                       1
undetermined-property  undetermined-property      37
Name: count, dtype: int64

In [303]:
df.columns

Index(['Property ID', 'Price', 'State of the property', 'Number of bedrooms',
       'Livable surface', 'Garage', 'Number of garages', 'Type of heating',
       'Type of glazing', 'Elevator', 'Garden', 'Terrace', 'Surface terrace',
       'Total land surface', 'Swimming pool', 'type', 'postal_code', 'city',
       'Region', 'province', 'main_type', 'price_per_sqm',
       'Price_per_sqm_land'],
      dtype='object')

In [318]:
df = df.dropna(subset=['Price'])
df = df[df["Price"] != 1].copy()

In [319]:
df.columns

Index(['Price', 'State of the property', 'Number of bedrooms',
       'Livable surface', 'Garage', 'Number of garages', 'Type of heating',
       'Elevator', 'Garden', 'Terrace', 'Surface terrace',
       'Total land surface', 'Swimming pool', 'type', 'postal_code', 'city',
       'Region', 'province', 'main_type'],
      dtype='object')

In [320]:
df = df.drop(['Property ID',
    'url','Availability','Attic','Kitchen equipment','Kitchen type',
    'Furnished','Price_per_sqm_land','price_per_sqm','Number of facades',
    'Number of bathrooms','Number of showers','Number of toilets',
    'Surface garden','Type of glazing',
], axis=1, errors='ignore')

In [321]:
df.shape

(15717, 19)

Train / Validation / Test Split

In [332]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Features and target
X = df.drop(columns=['Price'])
y = df['Price']

# Split: 60% train, 20% val, 20% test
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Convert to DataFrame for easy manipulation
X_train_df = pd.DataFrame(X_train, columns=X.columns)
X_val_df = pd.DataFrame(X_val, columns=X.columns)
X_test_df = pd.DataFrame(X_test, columns=X.columns)

# Align indices
X_train_df.index = y_train.index
X_val_df.index   = y_val.index
X_test_df.index  = y_test.index

Fill Missing Values

In [333]:
# -----------------------------
# 1️⃣ Binary kolonlar → 0 ile doldurma
# -----------------------------
zero_cols = ['Garage', 'Number of garages', 'Swimming pool', 
             'Terrace', 'Surface terrace', 'Elevator', 'Garden']

for df_ in [X_train_df, X_val_df, X_test_df]:
    for col in zero_cols:
        df_[col].fillna(0, inplace=True)

# -----------------------------
# 2️⃣ Kategorik kolonlar → 'unknown'
# -----------------------------
categorical_cols = ['Type of heating', 'State of the property']

for df_ in [X_train_df, X_val_df, X_test_df]:
    for col in categorical_cols:
        df_[col].fillna('unknown', inplace=True)

# -----------------------------
# 3️⃣ main_type boşları → 'unknown'
# -----------------------------
for df_ in [X_train_df, X_val_df, X_test_df]:
    df_['main_type'].fillna('unknown', inplace=True)

# -----------------------------
# 4️⃣ Total land surface → ÖZEL KURAL
# apartment → 0
# house & land → TRAIN median
# -----------------------------

# apartment = 0
for df_ in [X_train_df, X_val_df, X_test_df]:
    df_.loc[df_['main_type']=='apartment', 'Total land surface'] = \
        df_.loc[df_['main_type']=='apartment', 'Total land surface'].fillna(0)

# TRAIN MEDIAN'ları hesapla
house_median = X_train_df.loc[X_train_df['main_type']=='house', 'Total land surface'].median()
land_median  = X_train_df.loc[X_train_df['main_type']=='land',  'Total land surface'].median()

# house ve land için median doldur
for df_ in [X_train_df, X_val_df, X_test_df]:
    df_.loc[(df_['main_type']=='house') & (df_['Total land surface'].isna()), 'Total land surface'] = house_median
    df_.loc[(df_['main_type']=='land')  & (df_['Total land surface'].isna()), 'Total land surface'] = land_median

# -----------------------------
# 5️⃣ Numeric kolonlar → main_type bazlı median-fill
# -----------------------------
num_cols_for_median = ['Number of bedrooms', 'Livable surface', 'Total land surface']

for col in num_cols_for_median:
    med_dict = X_train_df.groupby('main_type')[col].median()

    for df_ in [X_train_df, X_val_df, X_test_df]:
        for mtype, med_val in med_dict.items():
            df_.loc[(df_['main_type']==mtype) & (df_[col].isna()), col] = med_val

# -----------------------------
# 6️⃣ Kalan tüm NaN → train global median
# -----------------------------
for col in num_cols_for_median:
    med_val = X_train_df[col].median()
    for df_ in [X_train_df, X_val_df, X_test_df]:
        df_[col].fillna(med_val, inplace=True)

# -----------------------------
# 7️⃣ Son kontrol
# -----------------------------
print("Train NaN:", X_train_df.isna().sum().sum())
print("Val NaN:",   X_val_df.isna().sum().sum())
print("Test NaN:",  X_test_df.isna().sum().sum())

Train NaN: 0
Val NaN: 0
Test NaN: 0

OUTLIER

In [335]:
from scipy import stats
import numpy as np
import pandas as pd

# -----------------------------
# 1) Outlier uygulanacak numeric kolonlar
# (binary kolonlar çıkarıldı)
# -----------------------------
outlier_num_cols = ['Number of bedrooms', 'Livable surface', 'Total land surface']

# Price target'ı ekleyeceğiz
y_train = y_train.reindex(X_train_df.index)

# -----------------------------
# 2) Gruplara göre ayır (+ price ekle)
# -----------------------------
df_normal_train_list = []
df_extreme_train_list = []

for mtype, group in X_train_df.groupby('main_type'):
    group_copy = group.copy()
    
    # Add price column
    group_copy['Price'] = y_train.loc[group_copy.index]
    
    # Columns for z-score
    cols_for_z = outlier_num_cols + ['Price']
    
    # z-score hesapla
    z_scores = np.abs(stats.zscore(group_copy[cols_for_z], nan_policy='omit'))
    
    # Outlier: herhangi kolon > 3
    outliers = (z_scores > 3).any(axis=1)
    
    # Ayır
    df_normal_train_list.append(group_copy[~outliers])
    df_extreme_train_list.append(group_copy[outliers])

# -----------------------------
# 3) Birleştir
# -----------------------------
df_normal_train = pd.concat(df_normal_train_list)
df_extreme_train = pd.concat(df_extreme_train_list)

print("Normal train:", df_normal_train.shape)
print("Extreme train:", df_extreme_train.shape)

# -----------------------------
# 4) NaN kontrol
# -----------------------------
print("\nNormal Train NaN counts:")
print(df_normal_train[cols_for_z].isna().sum())

print("\nValidation NaN counts:")
print(X_val_df[outlier_num_cols].isna().sum())

print("\nTest NaN counts:")
print(X_test_df[outlier_num_cols].isna().sum())

Normal train: (9102, 19)
Extreme train: (328, 19)

Normal Train NaN counts:
Number of bedrooms    0
Livable surface       0
Total land surface    0
Price                 0
dtype: int64

Validation NaN counts:
Number of bedrooms    0
Livable surface       0
Total land surface    0
dtype: int64

Test NaN counts:
Number of bedrooms    0
Livable surface       0
Total land surface    0
dtype: int64

C:\Users\esram\AppData\Local\Temp\ipykernel_19908\3207472119.py:30: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  z_scores = np.abs(stats.zscore(group_copy[cols_for_z], nan_policy='omit'))

In [336]:
# Outlier normal train'den X ve y çıkar
X_tr = df_normal_train.drop(columns=['Price']).copy()
y_tr = df_normal_train['Price'].copy()

# Validation ve test dokunulmaz: onlar zaten X_val_df, X_test_df, y_val, y_test
X_val_copy = X_val_df.copy()
X_test_copy = X_test_df.copy()

One-Hot Encoding (Categorical Columns)

In [337]:
cat_cols = ['State of the property', 'Type of heating','type', 
            'city', 'Region', 'province', 'main_type']

# Sadece mevcut kolonları kullan
cat_cols_existing = [c for c in cat_cols if c in X_tr.columns]

# Train için fit + transform
X_tr_encoded = pd.get_dummies(X_tr, columns=cat_cols_existing, drop_first=True)

# Validation / Test için transform
X_val_encoded = pd.get_dummies(X_val_copy, columns=cat_cols_existing, drop_first=True)
X_test_encoded = pd.get_dummies(X_test_copy, columns=cat_cols_existing, drop_first=True)

# Train kolonları ile hizalama
train_cols = X_tr_encoded.columns
X_val_encoded = X_val_encoded.reindex(columns=train_cols, fill_value=0)
X_test_encoded = X_test_encoded.reindex(columns=train_cols, fill_value=0)

# Kontrol
print("Train encoded shape:", X_tr_encoded.shape)
print("Validation encoded shape:", X_val_encoded.shape)
print("Test encoded shape:", X_test_encoded.shape)

Train encoded shape: (9102, 1341)
Validation encoded shape: (3143, 1341)
Test encoded shape: (3144, 1341)

Scaling Numerical Columns

In [338]:
from sklearn.preprocessing import StandardScaler

# Sayısal kolonlar
num_cols = ['Number of bedrooms', 'Livable surface', 'Number of garages', 
            'Surface terrace', 'Total land surface']

# Scaler objesi
scaler = StandardScaler()

# Train seti fit + transform
X_tr_encoded[num_cols] = scaler.fit_transform(X_tr_encoded[num_cols])

# Validation / Test transform
X_val_encoded[num_cols] = scaler.transform(X_val_encoded[num_cols])
X_test_encoded[num_cols] = scaler.transform(X_test_encoded[num_cols])

# Kontrol
print("Train scaled sample:")
print(X_tr_encoded[num_cols].head())

Train scaled sample:
       Number of bedrooms  Livable surface  Number of garages  \
6638            -0.630655        -0.619567          -0.029839
15851           -0.630655        -0.648574          -0.029839
12540           -0.630655        -0.242475          -0.029839
12118           -1.460526        -0.866127          -0.029839
11029            0.199216        -0.198965          -0.029839

       Surface terrace  Total land surface
6638          0.027599            -0.45771
15851        -0.020812            -0.45771
12540        -0.036949            -0.45771
12118         0.076010            -0.45771
11029        -0.166044            -0.45771

Linear Regression Model

In [339]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# -----------------------------
# 2️⃣ Features ve target
# -----------------------------
X_tr = X_tr_encoded.copy()
X_val = X_val_encoded.copy()
X_te  = X_test_encoded.copy()

y_tr = y_tr.loc[X_tr.index]
y_val = y_val.loc[X_val.index]
y_te  = y_test.loc[X_te.index]

# -----------------------------
# 3️⃣ Linear Regression modeli
# -----------------------------
lr_model = LinearRegression()
lr_model.fit(X_tr, y_tr)

# -----------------------------
# 4️⃣ Tahminler
# -----------------------------
y_train_pred = lr_model.predict(X_tr)
y_val_pred   = lr_model.predict(X_val)
y_test_pred  = lr_model.predict(X_te)

# -----------------------------
# 5️⃣ Performans ölçümü
# -----------------------------
def evaluate(y_true, y_pred, label="Set"):
    rmse = np.sqrt(mean_squared_error(y_true, y_pred))
    r2 = r2_score(y_true, y_pred)
    print(f"{label} → RMSE: {rmse:.2f}, R²: {r2:.4f}")

# Ölçüm
evaluate(y_tr, y_train_pred, "Train")
evaluate(y_val, y_val_pred, "Validation")
evaluate(y_te, y_test_pred, "Test")

Train → RMSE: 110774.67, R²: 0.6703
Validation → RMSE: 464150.95, R²: -1.6541
Test → RMSE: 356765.02, R²: 0.1889

logtransfrom

In [340]:
y_tr_log = np.log1p(y_tr)  # log(1 + y)
y_val_log = np.log1p(y_val)
y_te_log  = np.log1p(y_te)

lr_model = LinearRegression()
lr_model.fit(X_tr, y_tr_log)

y_train_pred_log = lr_model.predict(X_tr)
y_val_pred_log   = lr_model.predict(X_val)
y_test_pred_log  = lr_model.predict(X_te)

# RMSE ve R² için tekrar hesapla
def evaluate_log(y_true, y_pred, label="Set"):
    y_pred_inv = np.expm1(y_pred)  # logu geri çevir
    rmse = np.sqrt(mean_squared_error(y_true, y_pred_inv))
    r2 = r2_score(y_true, y_pred_inv)
    print(f"{label} → RMSE: {rmse:.2f}, R²: {r2:.4f}")

evaluate_log(y_tr, y_train_pred_log, "Train")
evaluate_log(y_val, y_val_pred_log, "Validation")
evaluate_log(y_te, y_test_pred_log, "Test")

Train → RMSE: 118079.89, R²: 0.6254
Validation → RMSE: 3146585540636427174331547648.00, R²: -121975240374407700600047593390505306720567296.0000
Test → RMSE: 1466805706.82, R²: -13710696.2081

Random forest

In [330]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# ---------------------------
# 1️⃣ Features ve target (df_normal_train sonrası)
# ---------------------------
X_tr = X_tr_encoded.copy()  # df_normal_train üzerinden encoding + scaling sonrası
X_val = X_val_encoded.copy()
X_te  = X_test_encoded.copy()

y_tr = y_tr.loc[X_tr.index]   # index eşleşmesi
y_val = y_val.loc[X_val.index]
y_te  = y_test.loc[X_te.index]

# ---------------------------
# 2️⃣ Random Forest modeli
# ---------------------------
rf_model = RandomForestRegressor(
    n_estimators=200,   # ağaç sayısı
    max_depth=None,     # derinlik sınırlaması yok
    random_state=42,
    n_jobs=-1
)

# Fit
rf_model.fit(X_tr, y_tr)

# ---------------------------
# 3️⃣ Tahminler
# ---------------------------
y_train_pred = rf_model.predict(X_tr)
y_val_pred   = rf_model.predict(X_val)
y_test_pred  = rf_model.predict(X_te)

# ---------------------------
# 4️⃣ Performans ölçümü
# ---------------------------
def evaluate(y_true, y_pred, label="Set"):
    rmse = np.sqrt(mean_squared_error(y_true, y_pred))
    r2 = r2_score(y_true, y_pred)
    print(f"{label} → RMSE: {rmse:.2f}, R²: {r2:.4f}")

# Ölçüm
evaluate(y_tr, y_train_pred, "Train")
evaluate(y_val, y_val_pred, "Validation")
evaluate(y_te, y_test_pred, "Test")

Train → RMSE: 60759.80, R²: 0.9500
Validation → RMSE: 166178.54, R²: 0.6598
Test → RMSE: 239782.57, R²: 0.6336

XBOOST